__pycache__
img/*
img.png
lib64
pyvenv.cfg
bin/python
bin/python3
graphs.egg-info/dependency_links.txt
graphs.egg-info/PKG-INFO
graphs.egg-info/requires.txt
graphs.egg-info/SOURCES.txt
graphs.egg-info/top_level.txt
.vscode/settings.json
